@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&family=Sigmar&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* ~~body~~ */
body {
  background-color: #6f31a5;
}

/* ~~fin de body~~ */
h1 {
  font-size: 20px;
}

/* ~~ Colores Referencia ~~ */
colores {
  color: #6f31a5;
  color: #A076F9;
  color: #45CFDD;
  color: #643843;
}

/* ~~ Fin Colores Referencia~~ */
/* ~~ h1 ~~ */
.rectangulo_principal {
  height: 100px;
  width: 100px;
  color: #45CFDD;
  background-color: rgb(77, 77, 77);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ~~ Fin h1 ~~ */
/* ~~ Imagenes principales ~~ */
.imagen_principal {
  position: relative;
  width: auto;
  display: inline-block;
  overflow: hidden;
}

.imagenes_principales img {
  width: 100%;
  height: auto;
  display: inline-block;
}

.texto_titulo_principal {
  text-align: center;
}

/* ~~ Fin Imagenes ~~ */
/* ~~ botones centrados ~~ */
.d-grid a {
  background-color: #df1c4d;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.wsp {
  background-color: #21db1a;
  transform: 2.5;
}

/* ~~ icono whatsapp ~~ */
.wsp {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 1;
  cursor: pointer;
}

/* ~~ Fin icono whatsapp ~~ */
/* ~~ navbar ~~ */
.navbar {
  font-size: large;
  background-color: #d43b95;
}
.navbar .d-inline-block {
  width: 65%;
  height: auto;
  padding-top: 2px;
  justify-content: flex-end;
}
.navbar a {
  text-decoration: none;
  color: #C0C0C0;
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
}

/* ~~ Fin Top Navigation Bar ~~ */
/* ~~ imagenes secundarias ~~ */
.img-fluid {
  height: 700px;
  padding: 10px;
  border-radius: 20%;
}

/* ~~ fin de imagenes secundarias ~~ */
/* ~~ imagenes secundarias ~~ */
.img-fluid {
  height: 700px;
  padding: 10px;
  border-radius: 20%;
}

/* ~~ fin de imagenes secundarias ~~ */
/* ~~ imagenes secundarias ~~ */
.img-fluid {
  height: 700px;
  padding: 10px;
  border-radius: 20%;
}

/* ~~ fin de imagenes secundarias ~~ */
/* ~~ imagenes y texto secundarias ~~ */
.img-aretes img {
  border-radius: 30%;
  width: 300px;
  height: 400px;
}

p {
  font-size: 20px;
  margin: 30px;
  padding-top: 10px;
}

h2 {
  text-align: left;
  font-size: 30px;
  color: crimson;
  padding-top: 15px;
  padding-bottom: 10px;
  margin: 25px;
}

h3 {
  text-align: left;
  font-size: 30px;
  color: crimson;
  padding-top: 15px;
  padding-bottom: 10px;
  margin: 25px;
}

/* ~~ fin de imagenes  y texto secundarias ~~ */
@media (max-width: 842px) {
  .card_body img {
    display: none;
  }
  .card_body p {
    align-items: center;
  }
}
@media (max-width: 710px) {
  .card_body_servicios {
    display: flex;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
@media (max-width: 1500px) {
  .section_1_nosotros {
    flex-direction: column;
    display: flex;
    margin: 0;
    align-items: center;
  }
  .section_1_nosotros img {
    object-fit: cover;
    object-position: center;
    width: 90%;
  }
  .section_1_nosotros p, .section_1_nosotros h2 {
    width: 90%;
    text-align: center;
  }
}
@media (max-width: 1400px) {
  .section_2_nosotros {
    flex-direction: column;
    display: flex;
    margin: 0;
    align-items: center;
  }
  .section_2_nosotros img {
    object-fit: cover;
    object-position: center;
    width: 90%;
  }
  .section_2_nosotros h2, .section_2_nosotros p {
    width: 90%;
    text-align: center;
  }
}
@media (max-width: 970px) {
  .grid__familia {
    flex-direction: column;
  }
}
/* ~~ imagenes secundarias ~~ */
.img-fluid {
  height: 700px;
  padding: 10px;
  border-radius: 20%;
}

/* ~~ fin de imagenes secundarias ~~ */

/*# sourceMappingURL=style.css.map */
