@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&family=Sigmar&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #6f31a5;

}
@font-face{
    font-family: "Dellarespira";
    src: url("../fonts/DellaRespira-Regular.ttf");
}


/* arreglos header*/

  .header img-principal1{
    background: url(../images/Imagen-Principal-1.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
  }
  .navbar-corozo{
    color:rgb(60, 218, 210)

 }


/*fin de los arreglos header*/


/*subtitulos*/
h2{
    text-align: left;
    font-size: 30px;
    color: crimson;
    padding-top: 15px;
    padding-bottom: 10px;
    font-family: DellaRespira;
}

.container5-subtitulos h2{
    display: flex;
    align-items: center;   
    flex-direction: row-reverse; 
    float: left;
    width: 100%;
    clear: both;
}

/*arreglos de textos */

p{
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
p{
    font-size: 1em;
    line-height: 1.2em;
    text-transform: uppercase;
    
}

h3{
    text-align: left;
    font-size: 30px;
    color: crimson;
    padding-top: 15px;
    padding-bottom: 10px;
}



/* inicio de imagenes principles */

.img-principal1 {
    position: center;
    width: auto;
    display: inline-block;
    overflow: hidden;
  }

  .imagenes_principales img {
    width: 2090px;
    height: auto;
    display: inline-block;
    background-size: cover 1050px;
    background-position: center;
    background-repeat: no-repeat;
    
  }

.container img{
    width: 2090px;
    height: 70vh;
    left: 700vw;
    display: inline-block 50%;
    background-size: cover 1050px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 200px 50px 0px;
    
}

.container2 img{
    width: 1020px;
    height: 650px;
    left: 500vw;
    display: inline-block;
}

.container3 img{
    width: 1020px;
    height: 650px;
    left: 500vw;
    display: inline-block;
}

.container4 img{
    width: 1020px;
    height: 650px;
    left: 500vw;
    display: inline-block;
}

/* fin de las imagenes principales*/


/* inicio de imagenes secundarias */

.img-aretes img{
    border-radius: 38%;
    width: 300px;
    height: 400px;
}

.text-titulo{
    position: absolute;
    bottom: -30%;
    height: 10%;
    width: 500px;
    right: 750px;
    top: 800px;
    left: 600px;
    transform: translate(-50%, -50%);
}



    /* icono de wpp*/

    .wsp {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        object-fit: cover;
        position: fixed;
        bottom: 15px;
        right: 15px;
        z-index: 1;
        cursor: pointer;
      }
/* fin del icono de wpp*/


